ul{
	list-style-type: none;
	overflow: hidden;
}

li {
	float: left;
	padding: 20px;
	text-align: center;
	display: block;
	background-color: #8B0000;
	
}

li a  {
	text-decoration: none;
	color:white;
	font-size: 20px;
	font-family: monospace;
}

.title{
	text-align: left;
	color: #8B0000;
}

body{
	background-color: #808000;
}

.opening{
	padding: 30px;
}

.price{
	padding:30px;
}

p{
	font-size: 22px;
	font-family: cursive;
}

.mySlides{
	height: 700px;
}

.text{
	column-count: 2;
}

.general	{
	background-color: white;
	color: black;
	width: 500px;
	height: 500px;
	text-align: right;
}
.why{
	background-color: white;
	color: black;
	width: 500px;
	height: 500px;
	text-align: left;
}

