/* This is to style the unordered list that is the list of linked websites*/
ul{
	list-style-type: none;
	overflow: hidden;
	background-color: #8B0000;
}
/* This is to style the unordered list that is the list of linked websites*/
li {
	float: left;
	padding: 30px;
	text-align: center;
	display: block;
}
/* This is to style the unordered list that is the list of linked websites*/
li a  {
	text-decoration: none;
	color:white;
	font-size: 25px;
	font-family: monospace;
}
/* This is to style the title of the website*/
.title{
	text-align: left;
	color: #8B0000;
}
/* This is to change the background color of all the website pages*/
body{
	background-color: #808000;
}
/* This is to style the padding of the images*/
.opening{
	padding: 30px;
}
/* This is to style the text of the price of bikes*/
.price{
	padding:30px;
	float: left;
}
/* This is to style the texts of all the paragraphs of texts*/
p{
	font-size: 22px;
	font-family: cursive;
}
/* This is to style the background color of the  list of linked websites*/
.mySlides{
	background-color: grey;
}
/* This is to control the size of the images in the second slideshow*/
.mySlides2{
	width:50%;
}

.text{
	column-count: 2;
}
/* This is to style the text of the first paragraph of text*/
.general{
	background-color: white;
	color: black;
	width: 500px;
	padding:0px 30px;
	float: right;
}
/* This is to style the text of the second paragraph of the website*/
.why{
	background-color: white;
	color: black;
	width: 500px;
	height: 500px;
	float: left;
}
/* This is to style the left button of the slideshow*/
.blackleftbutton{
	background-color:yellow;
	position: absolute;
	top: 65%;
	left: 2%;
	transform: translate(0%,-50%);
	border: none;
	display: inline-block;
	padding: 20px 19px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}
/* This is to style the right button of the slideshow*/
.blackrightbutton{
	background-color:yellow;
	position: absolute;
	top: 57%;
	right: 2%;
	transform: translate(0%,50%);
	border: none;
	display: inline-block;
	padding: 20px 19px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;	
}
/* This is to style the 2nd left button of the slideshow*/
.blackleftbutton2{
	background-color:yellow;
	position: absolute;
	top: 110%;
	left: 2%;
	transform: translate(0%,-50%);
	border: none;
	display: inline-block;
	padding: 10px 10px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}
/* This is to style the 2nd right button of the slideshow*/
.blackrightbutton2{
	background-color:yellow;
	position: absolute;
	top: 101%;
	right: 52%;
	transform: translate(0%,50%);
	border: none;
	display: inline-block;
	padding: 10px 10px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}
	

button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, select, textarea {
    font: inherit;
    margin: 0;
}

.social{
	height:40%;
	width:40%;
	float: left;
	background-color: #808000;
}

h2{
	font-size: 45px;
}

h3{
	font-size: 30px
}

/* This is to style the tables of the bikes website page*/
.table{
	border-collapse: collapse;
	width: 100%;
}
/* This is to style the table headers of the tables in the bikes page*/
th{
	font-size: 25px;
	border: 5px dashed maroon;
	width: 25%;
}
/* This is to style the table data of the tables in the bikes page*/
td{
	border: 4px dashed blue;
	width: 25%;
	text-align: center;
}
