ul{
	list-style-type: none;
	overflow: hidden;
	background-color: #8B0000;
}

li {
	float: left;
	padding: 30px;
	text-align: center;
	display: block;
}

li a  {
	text-decoration: none;
	color:white;
	font-size: 25px;
	font-family: monospace;
}

.title{
	text-align: left;
	color: #8B0000;
}

body{
	background-color: #808000;
}

.opening{
	padding: 30px;
}

.price{
	padding:30px;
	float: left;
}

p{
	font-size: 22px;
	font-family: cursive;
}

.mySlides{
	background-color: grey;
}
.mySlides2{
	width:50%;
}

.text{
	column-count: 2;
}

.general{
	background-color: white;
	color: black;
	width: 500px;
	padding:0px 30px;
	float: right;
}
.why{
	background-color: white;
	color: black;
	width: 500px;
	height: 500px;
	float: left;
}
.blackleftbutton{
	background-color:yellow;
	position: absolute;
	top: 65%;
	left: 2%;
	transform: translate(0%,-50%);
	border: none;
	display: inline-block;
	padding: 20px 19px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}

.blackrightbutton{
	background-color:yellow;
	position: absolute;
	top: 57%;
	right: 2%;
	transform: translate(0%,50%);
	border: none;
	display: inline-block;
	padding: 20px 19px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;	
}

.blackleftbutton2{
	background-color:yellow;
	position: absolute;
	top: 110%;
	left: 2%;
	transform: translate(0%,-50%);
	border: none;
	display: inline-block;
	padding: 10px 10px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}

.blackrightbutton2{
	background-color:yellow;
	position: absolute;
	top: 101%;
	right: 52%;
	transform: translate(0%,50%);
	border: none;
	display: inline-block;
	padding: 10px 10px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}
	

button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, select, textarea {
    font: inherit;
    margin: 0;
}

.social{
	height:40%;
	width:40%;
	float: left;
	background-color: #808000;
}

h2{
	font-size: 45px;
}

h3{
	font-size: 30px
}
